<footer class="footer">
  <small>
    Produced by AS
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>ß
    </ul>
  </nav>ß
</footer>